/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.app-body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: #2E3124;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 1px;
}


/* hide any scrollbars  */
::-webkit-scrollbar {
    display: none;
}

.last-letter{
    letter-spacing: 0;
}

/* Login Main Styles */
.login-main-container{
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: bodoni moda, serif;
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.upper-page{
    z-index: 1;
    top: 0;
    position: sticky;
}

.lower-page{
    z-index: 2;
    position: relative;
    background-color: rgba(46, 49, 36, 0.95);
}





.swipe-up-text{
    position: relative;
    top: 20vh;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    font-style: italic;
    color: white;
    font-weight: 200;
}

.login-main-container h1{
    letter-spacing: 0.8rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
}

.login-main-container h2{
    letter-spacing: 0.6rem;
    font-size: 1rem;
    margin-bottom: -5px;
    margin-top: 3rem;
    font-style: normal;
    font-weight: 200;
}

.login-main-container h3{
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    font-style: italic;
    color: #8FC11C;
    font-weight: 200;
}


.strike {
  position: relative;
  display: inline-block; 
}

.strike::after {
  content: "";
  position: absolute;
  top: 50%;                     
  left: -1.875rem;                 
  right: -1.875rem;                
  height: 2px;                  
  background: #F99503;     
  transform: translateY(-50%);  
}

.login-main-image{
    width: 11.438rem;
    height: auto;
    margin-top: 6rem;
}

/* LOGIN AND REGISTER FORM STYLES */
.auth-header{
    font-weight: 600 !important;
     color: rgba(255, 255, 255, 0.5) !important;
}

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.auth-form input{
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 2%;
    color: rgba(255, 255, 255, 0.5);
}

.auth-form input:focus{
    outline: none;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
}

.auth-form button{
    margin-top: 10vh;
    width: 100px;
    height: 40px;
    background-color: rgba(143, 193, 28, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.5);
}

.auth-form button:hover{
    background-color: rgba(143, 193, 28, 0.8);
    color: white;
    cursor: pointer;
}

.forgot-password-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -2rem;
}

.forgot-password{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 0.8rem;
}

.auth-subtext{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.google-icon{
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    margin-top: -2.5rem;
}

.google-icon:hover{
    color: white;
    cursor: pointer;
}

.register-text{
    font-size: 0.8rem;
    color: #8FC11C;
    position: absolute;
    bottom: 5vh;
}

.register-text:hover{
    cursor: pointer;
}

.register-button{
    margin-top: -1vh !important;
}



/* NAV BAR */
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.2);
    width: 100vw;
    height: 4rem;
    list-style: none;
    gap: 1rem;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul li ion-icon{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-active{
    color: rgba(255, 255, 255, 0.5);
}

.active{
    color: rgba(143, 193, 28, 0.8);
}

nav ul li ion-icon:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}


/* DASHBOARD STYLES */
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile-right-section{
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.profile-picture{
    color: rgba(255, 255, 255, 0.5);
    font-size: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xp-container {
  width: 100%;
  font-family: bodoni moda, serif;
}

.xp-bar {
  width: 100%;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.xp-progress {
  height: 100%;
  background: linear-gradient(90deg, #8BE0C8 0%, #24efb5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.xp-progress::after {
content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shine 2s infinite;
}

.level-text{
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px black;
}

.name-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.level-badge{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 4px solid transparent;
    background: linear-gradient(#2E3124, #2E3124) padding-box,
        linear-gradient(90deg, #8BE0C8 0%, #24efb2) border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.level-badge::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
  );
  animation: shine 3s 1s infinite;
}







/* ANIMATIONS */
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}